   * {
  font-family: 'Georgia', 'Times', serif;
}

a {
  color: SeaGreen;
  text-decoration: none;
}

img {
  border-radius: 100%;
}

body {
	align-items: center;
  background-color: #FFF;
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

div.container {
	align-items: center;
	align-self: center;
	background: url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	min-height: 800px;
	justify-content: center;
	width: 800px;
}